:root {
  --bg: #F8F9FA;
  --bg-dark: #545454;
  --text: #303132;
  --text-dark: #F8F9FA;
  --accent: #79A831;
  --links: #79A831;
}

body {
  background-color: var(--bg);
  margin: 0;
  display: block;
}

h1 {
  font-family: 'Vidaloka', serif;
  font-size: 60px;
  color: var(--accent);
  font-weight: 400;
  margin: 0;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 100;
  color: var(--text);
  margin-block-start: 24px;
  margin-block-end: 24px;

}

h3 {
  font-family: 'Archivo', sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: var(--text);
}

p {
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--text);
  margin: 32px 0;
}

a {
  font-family: 'Archivo', sans-serif;
  all: unset;
  cursor: pointer;
  line-height: 1.3em;
}

[class*="link"] {
  font-family: 'Archivo', sans-serif;
  box-sizing: border-box;
  position: relative;
  transition: color .5s ease;
  display: inline-flex;
  padding: 0 .1em;
  overflow: hidden;
}

[class*="link"]::before {
  content: '';
  width: 100%;
  bottom: 0px;
  height: 3px;
  left: 0;
  position: absolute;
  background-color: var(--accent);
  ;
  transition: transform .5s ease;
}

[class*="link"]::after {
  content: '';
  position: absolute;
  height: calc(100% + 10px);
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent);;
  z-index: -1;
  transform: translateY(100%);
  transition: transform .5s ease;
}

[class*="link"]:hover {
  color: white;
}

[class*="link"]:hover::before {
  transform: translateX(-110%);
}

[class*="link"]:hover::after {
  transform: translateY(0);
}

.main-header {
  margin-top: 64px;
  margin-bottom: 48px;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
}

.accent {
  color: var(--accent);
}

nav {
  margin: 40px 0;
}

.navigation {
  display: inline-flex;
  list-style-type: none;
  padding-inline-start: 0px;
}

ul {
  display: inline-flex;
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  margin-right: 16px;
}

li:hover {
  color:var(--accent);
  cursor:pointer;
}


