:root {
  --bg: #F8F9FA;
  --bg-dark: #303132;
  --bg-dark-2: #1E1E1E; 
  --text: #303132;
  --text-dark: #F8F9FA;
  --accent: #C1DCFA;
  --accent-hover: #D0FAC1;
}

body {
  background-color: var(--bg-dark);
  margin: 0;
  display: block;
}

h1 {
  font-family: 'Vidaloka', serif;
  font-size: 80px;
  line-height: 86px;
  color: var(--accent);
  font-weight: 500;
  margin: 0;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: var(--text-dark);
  margin-block-start: 24px;
  margin-block-end: 24px;

}

p {
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-dark);
  margin: 32px 0;
}

a {
  font-family: 'Archivo', sans-serif;
  all: unset;
  cursor: pointer;
  color: var(--accent);
  background-color: var(--bg-dark-2);
}

a:hover {
  background-color: var(--accent-hover);
  color: var(--text);
}


.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}


.main-header {
  margin-top: 64px;
  margin-bottom: 48px;
  background-color: var(--bg-dark-2);
  padding: 40px;
}


.accent {
  color: var(--accent);
}

nav {
  margin: 40px 0 0 40px;
}

.navigation {
  display: inline-flex;
  list-style-type: none;
  padding-inline-start: 0px;
}

ul {
  display: inline-flex;
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  margin-right: 16px;
  font-size: 18px;
}

li:hover {
  color:var(--accent);
  cursor:pointer;
}


@media screen and (max-width: 815px) {

  h1 {
    font-size: 40px;
    line-height: 48px;
  }
  
}

