:root {
  --bg: #F8F9FA;
  --bg-dark: #1E1E1E;
  --bg-dark-2: #1E1E1E; 
  --text: #303132;
  --text-dark: #F8F9FA;
  --accent: #C1DCFA;
  --accent-hover: #D0FAC1;
}

body {
  background-color: var(--bg-dark);
  margin: 0;
  font-size: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  
  @media (min-width: 780px) {
    display: block;
    grid-template-columns: 1fr;
  }
}

nav {
  grid-row: 1;
  list-style-type: none;
  text-align: center;
}

.main-content {
  grid-row: 2;
  padding: 4em;
  grid-template-columns: 3fr;
}

.image {
  grid-row: 2;
}

img {
  width: 100%;
  border-radius: 6px;
}

h1 {
  font-family: 'Vidaloka', serif;
  font-size: 5em;
  color: var(--accent);
  font-weight: 500;
  margin: 0;
}

h2 {
  font-family: 'Vidaloka', serif;
  font-size: 2em;
  font-weight: 100;
  color: var(--accent);
  margin-top: 0;
}

h3 {
  font-family: 'Archivo', sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: var(--text-dark);
}

h4 {
  font-family: 'Archivo', sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  color: var(--text-dark);
  margin: 0;
}

p {
  font-family: 'Archivo', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: var(--text-dark);
}

a {
  font-family: 'Archivo', sans-serif;
  cursor: pointer;
  color: var(--accent);
  background-color: var(--bg-dark-2);
}

a:hover {
  background-color: var(--accent-hover);
  color: var(--text);
}


.main-header {
  padding: 6em;
  background-color: var(--bg-dark-2);
}


.accent {
  color: var(--accent);
}


ul {
  display: inline-flex;
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  margin-right: 1em;
}

li:hover {
  color:var(--accent);
  cursor:pointer;
}

/*Work*/

.work {
  margin-bottom: 2rem;
}

hr {
  border: 1px solid #000000;
  border-radius: 2px;
}

.work-container {
  max-width: 60rem;
  margin: auto;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4em; 
}

.title {
  grid-row: 1;
  grid-column: 1 / span 3; 
  margin: 2rem 0;
}

.brief {
  grid-row: 3;
  grid-column: 1 / span 2; 
}

.brief-right {
  grid-row: 3;
  grid-column: 3 / span 2; 
}

.brief-2 {
  grid-row: 4;
  grid-column: 1 / span 2; 
}

.team-specs {
  grid-row: 3;
  grid-column: 3 / span 2; 
}

feature {
  grid-row: 2;
  grid-column: 1 / span 4;
}